{% extends 'base.html.twig' %}

{% block title %}Not ok !{% endblock %}

{% block body %}
   <h1>Thanks for your effort to order!</h1>
    <p>
      We appreciate your business!
     But the payment fail, please contact us :<
      <a href="mailto:orders@example.com">phuonghtnbc00052@fpt.edu.vn</a>.
    </p>
{% endblock %}
