{% include 'header.html.twig' %}

{% block title %}OK!{% endblock %}

{% block body %}
    <h1>Thanks for your order!</h1>
    <p>
      We appreciate your business!
      If you have any questions, contact me at 0916198548 or by contact form <3<p style="color:#F5F5F5">please dont ask =))))</p>
    </p>
{% endblock %}
